
body {
    background-color: rgb(255, 255, 255);
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    margin: 10px 50px;
}

p {
    font-size: 20px;
    margin: 0;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Quicksand', sans-serif;
}

footer {
    /* position: fixed; */
    margin-top: 150px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#f3f3f3;
    color: black;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 20px;
}

.foot {
    display: flex;
    flex-flow: column nowrap;
}

.footnote {
    display: inline;
}

.icon {
    margin: 15px 5px;
}

.email {
    margin-top: 15px;
}

mark {
    background-color: rgb(255, 166, 49);
    /* background-color: rgb(155, 155, 253); */
}

.bluemark {
    background-color: rgb(177, 216, 241);
}

.mark2 {
    background-color: rgb(255, 117, 170);
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.title2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

h2 {
    margin: 5px 0px;
    font-size: 20px;
}



h4 {
    font-weight: 200;
    font-size: 17px;
}


/* NAV */
.logo {
    margin-top: 10px;
    left: 0px;
    width: 235px;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* position: fixed; */
    margin-top: 20px;
    background-color:white;
}

.nav-items {
    padding-top: 15px;
}
  
.nav-items a.active {
    border-bottom: 3px solid hotpink;
}

.nav-items a:hover {
    border-bottom: none;
}

.nav-items a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: hotpink;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    }
    
    .nav-items a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    }

.nav-item {
    margin: 0px 15px;
    position: relative;
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
  }
  
/* visited link */
a:visited {
color: black;
}

/* mouse over link */
a:hover {
color: hotpink;
}

/* HOME */
.home {
    margin-top: 70px;
    margin-bottom: 95px;
    max-height: 50vh;
    max-width: 90vw;
    flex-flow: row nowrap;
    display: flex;
}

.row {
    flex-flow: row nowrap;
    display: flex;
    font-size: 20px;
}

i {
    margin-right: 15px;
}

.boop {
    margin-left: 10px;
}

.bop {
    margin-left: 4px;
}


.hey {
    margin-top: 25px;
}


.right-home {
    display: flex;
    position: static;
    flex-flow: column nowrap;
    min-width: 215px;
}

.home-img {
    width: 75%;
    /* height: 50vh; */
    min-height: 324px;
    min-width: 720px;
    max-height: 378px;
    max-width: 842px;
    display: inline;
}

.home-content {
    margin-top: 35px;
    margin-left: 75px;
    display: inline-flex;
    overflow: scroll;
}

.home2 {
    margin-top: 40px;
    margin-bottom: 120px;
    max-height: 50vh;
    max-width: 90vw;
    flex-flow: row nowrap;
    display: flex;
    align-content: space-between;
}

.process {
    /* display: flex; */
    text-align: right;
    justify-content: right;
    float: right;
    height: 100%;
    width: 57%;
    margin-right: 15px;
    min-width: 700px;

}

.process-img {
    width: 35%;
    margin-left: 60px;
    min-width: 588px;
    max-height: 369px;
}

.title3 {
    font-size: 20px;
    margin-bottom: 20px;
}


.projects {
    text-align: center;
    margin-bottom: 150px;
    justify-content: center;
}

.proj {
    font-weight: 600;
    text-decoration: none;
}

.chev {
    margin-left: 10px;
}

.breadcrumbs {
    display: inline-flex;
}

h3 {
    margin-top: 5px;
    color: lightgrey;
    font-weight: 200;
    margin-right: 15px;
}

* {box-sizing: border-box;}

.ux-div {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    height: 100vh;
    width: 93vw;
}

.one {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}

.two { 
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}
.three {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
}
.four {
    grid-column: 1 / 3;
    grid-row: 4 / 7;
}
.five {
    grid-column: 3 / 5;
    grid-row: 4 / 7;
}
.six {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.seven { 
    grid-column: 2 / 4;
    grid-row: 1 / 4;
}
.eight {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
}
.nine {
    grid-column: 1 / 2;
    grid-row: 4 / 7;
}
.ten {
    grid-column: 2 / 4;
    grid-row: 4 / 7;
}
.eleven {
    grid-column: 4 / 5;
    grid-row: 4 / 7;
}

.ux-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
}


.hov:hover{
    opacity: 0.8;
}


    
