body {
    background-color: rgb(255, 255, 255);
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    margin: 0px;
}

p {
    font-size: 20px;
    margin: 0;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Quicksand', sans-serif;
}


/* NAV */

.logo {
    justify-content: end;
    float: right;
    margin: 0px 40px;
    width: 15vw;
    min-width: 175px;
}

.nav {
    float:left;
    width: 20vw;
    height: 100vh;
    min-width: 245px;
    padding-top: 150px;
}

.sticky-nav {
    position: fixed;
}

.nav-items {
    padding: 50px 40px;
    text-align: end;
}
  
.nav-item.active {
    border-bottom: 3px solid hotpink;
    color: hotpink;
}

.nav-item:hover {
    border-bottom: none;
}

.nav-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: hotpink;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;

    }
    
    .nav-item:hover:before {
        color: hotpink;
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

.nav-item {
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0px;
    color: black;
}

/* unvisited link */
.nav-item a:link {
    text-decoration: none;
    color: hotpink;
  }
  
/* visited link */
.nav-item a:visited {
    color:black;
}

/* mouse over link */
.nav-item a:hover {
color: hotpink;
}


/*HOME*/
.home-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    height: 1050px;
    margin-bottom: 0px;
}

.ux-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    object-position: center;
    background-color: yellow;
    display: block;
}

.container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: black;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.container:hover .overlay {
    opacity: .9;
  }

.one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.two { 
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.three {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}


.four {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}
.five {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}


.six {
    grid-column: 2/ 3;
    grid-row: 4 / 5;
}

.nine {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.eleven {
    grid-column: 3 / 5;
    grid-row: 4 / 6;
}

.eight {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
}

.seven {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

/* FOOTER */


.footer {
    height: 15vh;
    background-color:#f3f3f3;
    color: black;
    text-align: center;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    max-width: 336px;
    padding-top: 30px;
}

.foot-content {
    width: 20vw;
}

.footnote {
    display: inline;
    font-weight: 600;
}

.icon {
    margin: 15px 5px;
}

.email {
    margin-top: 15px;
}

mark {
    background-color: rgb(255, 136, 195);
}

.page {
    color: white;
    text-decoration: none;
    opacity: 1;
}

.page:hover {
    color: hotpink;
    opacity: 1;
}