
body {
    background-color: rgb(255, 255, 255);
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    margin: 10px 50px;
}

p {
    font-size: 20px;
    margin: 0;
}

footer {
    /* position: fixed; */
    margin-top: 150px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#f3f3f3;
    color: black;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 20px;
}

.foot {
    display: flex;
    flex-flow: column nowrap;
}

.footnote {
    display: inline;
}

.icon {
    margin: 15px 5px;
}

.email {
    margin-top: 15px;
}

mark {
    background-color: rgb(255, 166, 49);
    /* background-color: rgb(155, 155, 253); */
}

.bluemark {
    background-color: rgb(177, 216, 241);
}

.mark2 {
    background-color: rgb(255, 117, 170);
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.title2 {
    margin-bottom: 10px;
}

h2 {
    margin: 5px 0px;
    font-size: 20px;
}

h3 {
    margin-top: 5px;
}

h4 {
    font-weight: 200;
    font-size: 17px;
}


/* HOME */
.logo {
    margin-top: 10px;
    left: 0px;
    width: 235px;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* position: fixed; */
    margin-top: 20px;
    background-color:white;
}

.nav-items {
    padding-top: 15px;
}

.nav-item {
    margin: 0px 15px;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
  }
  
/* visited link */
a:visited {
color: black;
}

/* mouse over link */
a:hover {
color: hotpink;
}

/* selected link */
a:active {
    color: hotpink;
    text-decoration-line: underline double;
}


.home {
    margin-top: 70px;
    margin-bottom: 125px;
    max-height: 50vh;
    max-width: 90vw;
    flex-flow: row nowrap;
    display: flex;
}

.row {
    flex-flow: row nowrap;
    display: flex;
    font-size: 20px;
}

i {
    margin-right: 15px;
}

.boop {
    margin-left: 10px;
}

.bop {
    margin-left: 4px;
}


.hey {
    margin-top: 25px;
}


.right-home {
    display: flex;
    position: static;
    flex-flow: column nowrap;
    min-width: 215px;
}

.home-img {
    width: 75%;
    max-height: 50vh;
    max-width: 842px;
    display: inline;
    min-width: 700px;
    min-height: 372px;
}

.home-content {
    margin-top: 35px;
    margin-left: 45px;
    display: inline-flex;
    overflow: scroll;
    
}

.home2 {
    margin-top: 40px;
    margin-bottom: 150px;
    max-height: 50vh;
    max-width: 90vw;
    flex-flow: row nowrap;
    display: flex;
    align-content: space-between;

}

.process {
    /* display: flex; */
    text-align: right;
    justify-content: right;
    float: right;
    height: 100%;
    width: 57%;
    margin-right: 15px;
    min-width: 700px;

}

.process-img {
    width: 40%;
    margin-left: 60px;
    min-width: 588px;
}


/* DESIGN */

.home-work-container {
    display: flex;
    flex-flow: column nowrap;
    height: 1000px;
    /* margin-top: 10px; */
    margin-bottom: 100px;
    margin-top: 30px;
    width: 90vw;
}

.home-work-row {
    display: inline-flex;
    width: 100%;
    height: 50%;
    margin-bottom: 50px;
}

.home-work-left {
    display: flex;
    border: lightgrey solid 1px;
    width: 50%;
    margin-right: 35px;
    height: 100%;
    align-content: center;

}

.home-work-right {
    display: flex;
    border: lightgray solid 1px;
    width: 50%;
    margin-left: 35px;
    height: 100%;

}

.work-logo {
    height: 100%;
    width: 100%;
}
