body {
    background-color: rgb(255, 255, 255);
    font-family: "Roboto Mono", "Trebuchet MS", Arial, sans-serif;
    margin: 0px;
}

p {
    font-size: 17px;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    /* font-family: 'Quicksand', sans-serif; */
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

h4 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    font-size: 19px;
}

a {
    font-family: 'Roboto Mono', monospace;
}


/* NAV */

.logo {
    justify-content: end;
    float: right;
    margin: 0px 30px;
    width: 15vw;
    min-width: 175px;
}

.nav {
    float:left;
    width: 20vw;
    height: 100vh;
    min-width: 245px;
    padding-top: 150px;
    background-color: white;
}

.sticky-nav {
    position: fixed;
}

.nav-items {
    padding: 60px 40px;
    text-align: end;
}
  
.nav-item.active {
    border-bottom: 6px solid yellow;
    color: black;
}

.nav-item:hover {
    border-bottom: none;
}

.nav-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: yellow;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;

    }
    
    .nav-item:hover:before {
        color: yellow;
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

.nav-item {
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0px;
    color: black;
    padding-bottom: 5px;
}

/* unvisited link */
.nav-item a:link {
    text-decoration: none;
    color: yellow
  }
  
/* visited link */
.nav-item a:visited {
    color:black;
}

/* mouse over link */
.nav-item a:hover {
color: yellow;
}


/*HOME*/
.home-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    height: 1050px;
    /* height: 125vh; */
    margin-bottom: 0px;

}

.ux-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    object-position: center;
    /* background-color: yellow; */
    display: block;
}

.container img {
    transition: transform .5s ease;
  }

.container:hover img {
transform: scale(1.2);
}

.top {
    object-position: top;
}

.move {
    object-position: 25% 100%;
}

.container {
    position: relative;
    height: 100%; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.two { 
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.three {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}


.four {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}
.five {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}


.six {
    grid-column: 2/ 3;
    grid-row: 4 / 5;
}

.seven {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
.eight {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
}

.nine {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.eleven {
    grid-column: 3 / 5;
    grid-row: 4 / 6;
}


/* FOOTER */
.footer {
    height: 15vh;
    background-color: black;
    color: black;
    text-align: center;
    justify-content: center;
    position:fixed;
    left:0px;
    bottom:0px;
    width:20vw;
    max-width: 340px;
    min-width: 245px;
    padding-top: 30px;
}

.foot-content {
    position: absolute;
    width: 20vw;
    min-width: 216px;
    color: white;
    left:0px;
    bottom:0px;
}

.footnote {
    display: inline;
    font-weight: 600;
}

.icon {
    margin: 15px 5px;
}

.icon1{
    margin: 10px 0px;
}

.email {
    margin-top: 15px;
    color: black;
    text-decoration: none;
}

mark {
    background-color: yellow;
}



/* ABOUT */
.ab-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    padding-top: 75px;
    /* height: 125vh; */
    /* border: 1px solid red; */
}

.fone {
    grid-column: 3 / 5;
    grid-row: 1/2;
    max-width: 100%;
    /* overflow: scroll; */
    object-fit: cover;
    padding-top: 13px;
    padding-right: 35px;
}
.ftwo {
    grid-column: 1 / 2;
    grid-row: 1/2;
    object-fit: cover;
}

.fthree {
    grid-column: 2 / 3;
    grid-row: 1/2;
    background: grey;
    object-fit: cover;
}

.ffour {
    margin-top: 42px;
    background:  grey;
    grid-column: 1 / 2;
    grid-row: 2/3;
}

.ffive {
    margin-top: 42px;
    background: grey;
    grid-column: 2 / 3;
    grid-row: 2/3;
}

.fsix {
    margin-top: 42px;
    background:  grey;
    grid-column: 3 / 4;
    grid-row: 2/3;
}

.fseven {
    margin-top: 42px;
    background:  grey;
    grid-column: 4 / 5;
    grid-row: 2/3;
}

.long {
    object-position: 18%;
}

.tall {
    object-position: left 20%;
    padding-top: 50px;
}


.process-content {
    padding-left: 20px;
    text-align: justify;
    padding-top: 0px;
    margin-top: 0px;
}

.gif {
    padding-left: 20px;
}

.step {
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: 900;
}


.loop {
    font-size: 18px;
    padding-right: 35px;
    padding-bottom: 0px;
}

.story-content {
    padding-top: 20px;
    /* padding-right: 20px; */
    
}

.me {
    font-size: 17px;
    padding-bottom: 0px;
    text-align: justify;
}

.me2 {
    font-size: 17px;
    padding-bottom: 15px;
}

.story {
    text-align: right;
}

.story-2 {
    text-align: left;
}

/* CONTACT */
.cone {
    z-index: 1;
    grid-column: 1 / 5;
    grid-row: 1;
    background-color:rgb(241, 241, 241);
}
.ctwo {
    z-index: 1;
    grid-column: 1 / 5;
    grid-row: 2;
    background-color:rgb(241, 241, 241);
}
.cthree {
    z-index: 1;
    grid-column: 1 / 5;
    grid-row: 3;
    background-color:rgb(241, 241, 241);
}
.cfour {
    z-index: 1;
    grid-column: 1 / 5;
    grid-row: 4;
    background-color:rgb(241, 241, 241);
}
.cfive {
    z-index: 1;
    grid-column: 1 / 5;
    grid-row: 5;
    background-color:rgb(241, 241, 241);
}

.contact-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    grid-auto-rows: minmax(100px, auto);
    height: 1050px;
    margin-bottom: 0px;
}

/* PAGE */
.page-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    height: 125vh;
    margin-bottom: 0px;
}

.hero {
    grid-column: 1 / 5;
    grid-row: 1/3;
    text-align: center;
    border-bottom: 1px solid blue;
    margin-bottom: 20px;
}

.hero-text {
    grid-column: 1 / 5;
    grid-row: 2/3;
    color: blue;
    margin-right: 15px;
}