html {
	scroll-behavior: smooth;
}

main {
    background-color: rgb(255, 255, 255);
    font-family: "Roboto Mono", "Trebuchet MS", Arial, sans-serif;
    margin-left: 40px;
    margin-right: 40px;
}

p {
    font-size: 17px;
    margin: 0;
    font-family: "Roboto Mono", monospace;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

h4 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    font-size: 19px;
    padding-top: 10px;
    margin-bottom: 15px;
}

a {
    font-family: 'Roboto Mono', monospace;
}


/* NAV */
.page-nav{
    height: 8vh;
    width: 95vw;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}

.pgnav-item {
    text-decoration: none;
    color: black;
    margin: 10px 0px;
    border-bottom: none;
    font-size: 18px;
}

hr {
    border: .5px solid black;
    margin-bottom: 30px;
}

.smallhr {
    margin-top: 40px;
}

.pgleft {
    float: left;
}

.pgright {
    float: right;
    margin: 10px 40px;
}

.end {
    float: right;
    margin: 10px 0px;
    margin-right: 25px;
}

.logo2 {
    width: 10vw;
    min-width: 280px;
    margin-left: 160px;
}

.pgnav-item:before {
    border-bottom: none;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    content: "";
}

.pgnav-item:hover
{   border-bottom: 6px solid yellow;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.pgnav-item.active {
    border-bottom: 6px solid yellow;
    color: black;
} 



/* FOOTER */
.footer {
    background-color:#f3f3f3;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    display: block;
    height: 25vh;
    justify-content: center;
    text-align: center;
}

.foot-content {
    display: block;
}

.email {
    color: black;
    text-decoration: none;
    margin-bottom: 15px;
}

mark {
    background-color: yellow;
}

.icon {
    padding: 0px 8px;
}

/*HOME*/
.home-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    height: 1050px;
    margin-bottom: 40px;

}

.ux-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    object-position: center;
    /* background-color: yellow; */
    display: block;
}

.container img {
    transition: transform .25s, visibility .25s ease-in;
  }

.container:hover img {
transform: scale(1.2);
}

.top {
    object-position: top;
}

.move {
    object-position: 25% 100%;
}

.mover {
    object-position: 20% 25%;
}

.mich {
    object-fit: contain;
}

.container {
    position: relative;
    height: 100%; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.two { 
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.three {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}


.four {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}
.five {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}


.six {
    grid-column: 2/ 3;
    grid-row: 4 / 5;
}

.seven {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
.eight {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
}

.nine {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.eleven {
    grid-column: 3 / 5;
    grid-row: 4 / 6;
}


/* ABOUT */
.ab-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
}

.fone {
    grid-column: 3 / 5;
    grid-row: 1/2;
    max-width: 100%;
}
.ftwo {
    grid-column: 1 / 2;
    grid-row: 1/2;
    object-fit: cover;
}

.fthree {
    grid-column: 2 / 3;
    grid-row: 1/2;
    background: grey;
    object-fit: cover;
}

.ffour {
    margin-top: 42px;
    background:  grey;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.ffive {
    margin-top: 42px;
    background: grey;
    grid-column: 2 / 3;
    grid-row: 2/3;
}

.fsix {
    margin-top: 42px;
    background:  grey;
    grid-column: 3 / 4;
    grid-row: 2/3;
}

.fseven {
    margin-top: 42px;
    background:  grey;
    grid-column: 4 / 5;
    grid-row: 2/3;
}

.long {
    object-position: 18%;
}

.tall {
    object-position: left 20%;
    padding-top: 50px;
}

.process-content {
    padding-left: 20px;
    text-align: justify;
}

.step {
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: 900;
}

.loop {
    font-size: 18px;
    padding-right: 35px;
    padding-bottom: 0px;
}

.me {
    font-size: 17px;
    text-align: justify;
}

.story {
    text-align: right;
}

.story-2 {
    text-align: left;
    margin-top: 0px;
    padding-top: 0px;
}

/* PAGE */
.ibm {
    width: 500px;
}

.ibm2 {
    width: 250px;
}

.jump {
    margin-bottom: 15px;
}

.jumpto-nav {
    display: inline;
    justify-content: space-between;
}

.jumpto-nav-item {
    display: inline;
    color: black;
    text-decoration: none;
}

.pg-header {
    background-color: lightgray;
    height: 50vh;
    justify-items: center;
}

.maincontent {
    justify-content: center;
    text-align: center;
}