body {
    background-color: rgb(255, 255, 255);
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    margin: 0px;
}

p {
    font-size: 20px;
    margin: 0;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Quicksand', sans-serif;
}


/* NAV */

.logo {
    justify-content: end;
    float: right;
    margin: 0px 40px;
    width: 15vw;
    min-width: 175px;
}

.nav {
    float:left;
    width: 20vw;
    height: 100vh;
    min-width: 245px;
    padding-top: 150px;
    background-color: white;
}

.sticky-nav {
    position: fixed;
}

.nav-items {
    padding: 50px 40px;
    text-align: end;
}
  
.nav-item.active {
    border-bottom: 6px solid yellow;
    color: black;
}

.nav-item:hover {
    border-bottom: none;
}

.nav-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: yellow;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;

    }
    
    .nav-item:hover:before {
        color: yellow;
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

.nav-item {
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0px;
    color: black;
    padding-bottom: 5px;
}

/* unvisited link */
.nav-item a:link {
    text-decoration: none;
    color: yellow
  }
  
/* visited link */
.nav-item a:visited {
    color:black;
}

/* mouse over link */
.nav-item a:hover {
color: yellow;
}


/*HOME*/
.home-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    height: 1050px;
    margin-bottom: 0px;

}


.ux-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    object-position: center;
    /* background-color: yellow; */
    display: block;
}

.top {
    object-position: top;
}

.move {
    object-position: 25% 100%;
}


.container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: black;
}

.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.page {
    color:white;
    text-decoration: none;
    opacity: 1;
    text-align: center;
}

.page:hover {
    color: yellow;
    opacity: 1;
}

.container:hover .overlay {
    opacity: .9;
  }

  .container:hover .text {
      opacity: 1;
  }


.one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.two { 
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.three {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}


.four {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}
.five {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}


.six {
    grid-column: 2/ 3;
    grid-row: 4 / 5;
}

.seven {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
.eight {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
}

.nine {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.eleven {
    grid-column: 3 / 5;
    grid-row: 4 / 6;
}


/* FOOTER */


.footer {
    height: 15vh;
    background-color: black;
    color: black;
    text-align: center;
    justify-content: center;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    max-width: 336px;
    padding-top: 30px;
}

.foot-content {
    position: absolute;
    width: 20vw;
    min-width: 216px;
    color: white;
    left:0px;
    bottom:0px;
}

.footnote {
    display: inline;
    font-weight: 600;
}

.icon {
    margin: 15px 5px;
}

.icon1{
    margin: 10px 5px;
}

.email {
    margin-top: 15px;
    color: black;
    text-decoration: none;
}

mark {
    background-color: yellow;
}



/* ABOUT */
.ab-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    height: 1050px;
    margin-bottom: 0px;
    object-fit: cover;

}

.fone {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    max-width: 100%;
    overflow: scroll;
    object-fit: cover;
}
.ftwo {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    padding-right: 10px;
    object-fit: cover;
}

.fthree {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    background: yellow;
    object-fit: cover;
}

.ffive {
    padding-right: 20px;
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    object-fit: cover;
}


.fnine {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    background: black;
    object-fit: cover;
}

.process-content {
    padding-left: 20px;
    text-align: justify;
    padding-top: 0px;
    margin-top: 0px;
}

.gif {
    padding-left: 20px;
}

.step {
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.loop {
    font-size: 18px;
    padding-right: 20px;
    padding-bottom: 0px;
}

.story-content {
    padding-top: 20px;
    /* padding-right: 20px; */
    
}

.me {
    font-size: 18px;
    padding-bottom: 0px;
    text-align: justify;
}

.story {
    text-align: right;
}

/* CONTACT */
.cone {
    z-index: 1;
    grid-column: 1 / 5;
    grid-row: 1;
    background-color:rgb(241, 241, 241);
}
.ctwo {
    z-index: 1;
    grid-column: 1 / 5;
    grid-row: 2;
    background-color:rgb(241, 241, 241);
}
.cthree {
    z-index: 1;
    grid-column: 1 / 5;
    grid-row: 3;
    background-color:rgb(241, 241, 241);
}
.cfour {
    z-index: 1;
    grid-column: 1 / 5;
    grid-row: 4;
    background-color:rgb(241, 241, 241);
}
.cfive {
    z-index: 1;
    grid-column: 1 / 5;
    grid-row: 5;
    background-color:rgb(241, 241, 241);
}

.contact-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    grid-auto-rows: minmax(100px, auto);
    height: 1050px;
    margin-bottom: 0px;
}
