body {
    background-color: rgb(255, 255, 255);
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    margin: 0px;
}

p {
    font-size: 20px;
    margin: 0;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Quicksand', sans-serif;
}


/* NAV */
.logo {
    justify-content: end;
    float: right;
    margin: 0px 50px;
}

.nav {
    float:left;
    width: 20vw;
    height: 100vh;
    min-width: 245px;
    padding-top: 150px;

}

.nav-items {
    padding: 50px 50px;
    text-align: end;
}
  
.nav-item.active {
    border-bottom: 3px solid hotpink;
}

.nav-item:hover {
    border-bottom: none;
}

.nav-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: hotpink;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    }
    
    .nav-item:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    }

.nav-item {
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0px;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
  }
  
/* visited link */
a:visited {
color: black;
}

/* mouse over link */
a:hover {
color: hotpink;
}

/*HOME*/
.home-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    height: 1050px;
    margin-bottom: 0px;
}

.ux-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    object-position: center;
}


.one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.two { 
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.three {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}


.four {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}
.five {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}


.six {
    grid-column: 2/ 3;
    grid-row: 4 / 5;
}

.nine {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.eleven {
    grid-column: 3 / 5;
    grid-row: 4 / 6;
}

.eight {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
}

.seven {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}