html {
    margin: 10px 100px;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

li {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
    color: black;
}

h1 {
    font-size: 28px;
    margin-bottom: 5px;
    padding-left: 25px;
    margin-left: 5px;
    margin-top: 15px;
}

h2 {
    margin-top: 5px;
    display: flex;
    padding-left: 25px;
    margin-left: 5px;
    font-weight: 500;
}

h3 {
    font-weight: 300;
    padding-top: 100px;
    margin-bottom: 5px;
}

h4 {
    font-weight: 200;
    margin-left: 50px;
    margin-top: 0px;
    color: grey;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
  }
  
/* visited link */
a:visited {
color: black;
}

/* mouse over link */
a:hover {
color: hotpink;
}

/* selected link */
a:active {
    color: black;
    text-decoration-line: underline;
}

/* NAV */
.nav-container{
    /* justify-items: center; */
    /* border: 2px solid red; */
    /* justify-content: center;
    display: flex;
    flex-wrap: nowrap; */
    align-items: center;

    position: flex;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin: auto;
    max-width: 1050px;
    width: 100%;

    /* position: sticky;
    top: 0; */
}

.navs {
    /* 5border: 3px dashed purple; */
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 1050px;
    padding-right: 30px;
}
    

.nav-item {
    display: inline-block;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    /* padding-right: 30px;
    padding-left: 30px; */
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: black;
    font-size: 15px;
    padding: 3px 25px;
    margin-left: 5px;
    margin-right: 5px;

}

.logo {
    margin-top: 20px;
    height: 45px;
    width: 350px;
    /* border: brown solid 4px; */
}


/* HOME */
.home {
    /* border: solid yellow 2px; */
    max-width: 1050px;
    max-height: 730px;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
}

.home-div {
    position: flex;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 30px;
}

.home-div2 {
    /* position: inline-flex; */
    justify-content: center;
    display: inline-block;
    float: left;
    padding: 10vh;
    background-color: lightgrey;
    margin-top: 20px;
    max-width: 350px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
}

.home-div3 {
    float: right;
    justify-content: center;
    display: inline-block;
    padding: 10vh;
    background-color: lightgrey;
    margin-top: 20px;
    max-width: 350px;
    max-height: 200px;
    width: 50%;
    height: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
}

.home-img {
    max-width: 1050px;
    max-height: 512 px;
    height: 100%;
    width: 100%
}

.pgtitle {
    margin-left: 50px;
}

/* JUMP TO CONTENT */
.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}
    
a.skip:active, 
a.skip:focus, 
a.skip:hover {
    left: 0; 
    top: 0;
    width: auto; 
    height: auto; 
    overflow: visible; 
}

/* UX */
.uxdiv {
    margin-top: 20px;
    display: flex;
    margin-left: 30px;
    height: 80vh;
    width: 80vw;
    flex-flow: row nowrap;
    
}

.column {
    display: flex;
    height: 100%;
    width: 50%;
    flex-flow: column nowrap;
}

.jobpg {
    text-align: left;
    width: 50%;
    position: relative;
    /* margin-right: 10px;
    margin-top: 10px; */
    /* margin-bottom: 10px; */
    border: 1px solid grey;
}

.jobhalfpg {
    text-align: left;
    border: solid grey 1px;
    width: 100%;
    height: 50%;
    position: relative;
    border: 1px solid grey;
    /* margin: 10px; */
}


/* VISUAL */
.visdiv {
    margin-top: 20px;
    display: flex;
    margin-left: 30px;
    height: 50vh;
    width: 80vw;
    flex-flow: row nowrap;
}

.column-vis {
    display: flex;
    height: 100%;
    width: 33%;
    flex-flow: column nowrap;
    border: solid grey 2px;
    /* margin-right: 20px; */
    padding-top: 20px;
    text-align: center;
}

.pgtitle-vis {
    margin-top: 60px;
}

/* PHOTOGRAPHY */
.photodiv {
    margin-top: 25px;
}

.rowdiv {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 30px;
}

.photo {
    border: 1px solid grey;
    height: 50px;
    width: 50px;
    display: flex;
    height: 40vh;
    width: 40vw;
    text-align: center;
    justify-content: center;
}
