html {
    margin: 10px 50px;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

p {
    font-size: 20px;
    margin: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#f3f3f3;
    color: black;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 20px;
}

.foot {
    display: flex;
    flex-flow: column nowrap;
}

.footnote {
    display: inline;
}

.icon {
    margin: 15px 5px;
}

.email {
    margin-top: 15px;
}

mark {
    background-color: rgb(155, 155, 253);
}

h1 {
    font-size: 30px;
}

h2 {
    margin: 5px 0px;
    font-size: 20px;
}

h4 {
    font-weight: 200;
    font-size: 17px;
}

/* HOME */
.logo {
    margin-top: 10px;
    left: 0px;
    width: 235px;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* position: fixed; */
}

.nav-items {
    padding-top: 15px;
}

.nav-item {
    margin: 0px 15px;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
  }
  
/* visited link */
a:visited {
color: black;
}

/* mouse over link */
a:hover {
color: hotpink;
}

/* selected link */
a:active {
    color: black;
    text-decoration-line: underline;
}

.home {
    margin: 40px 0px;
    border: 1px solid yellow;
    max-height: 50vh;
    max-width: 90vw;
    justify-content: space-between;
    flex-flow: row nowrap;
    display: flex;

}

.row {
    flex-flow: row nowrap;
    display: flex;
}

i {
    margin-right: 10px;
}

.right-home {
    display: flex;
    flex-flow: column nowrap;
    min-width: 215px;
}

.home-img {
    width: 60%;
    max-height: 50vh;
    max-width: 625px;
    display: inline;
    min-width: 581px;
}

.home-content {
    margin-left: 30px;
    display: inline-flex;
}